---
swagger: "2.0"
info:
  description: "The GDM web service API provides a comprehensive set of RESTful methods\
    \ for accomplishing the following core tasks in the GOBii Genomic Data Management\
    \ (GDM) system. This manual explains the GDM calls complying BrAPI Genotyping\
    \ standards and its definitions..\n\n"
  version: "2.0"
  title: "GDM BrAPI Web Services"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.gobii.org:8081"
basePath: "/gobii-dev"
tags:
- name: "ServerInfo"
- name: "VariantSets"
schemes:
- "http"
paths:
  /brapi/v1/serverinfo:
    get:
      tags:
      - "ServerInfo"
      summary: "Get ServerInfo"
      description: "List of all calls"
      operationId: "getCalls"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Successful"
          schema:
            $ref: "#/definitions/BrapiResponseMapCalls"
      x-summary: "ServerInfo"
  /brapi/v1/variantsets:
    get:
      tags:
      - "VariantSets"
      summary: "List variantsets"
      description: "List of all Variantsets"
      operationId: "getVariantSets"
      parameters:
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "pageNum"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "variantSetDbId"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "variantSetName"
        in: "query"
        required: false
        type: "string"
      - name: "studyDbId"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of VariantSets"
          schema:
            $ref: "#/definitions/VariantSetListResponse"
      x-summary: "VariantSets"
securityDefinitions:
  X-Auth-Token:
    type: "apiKey"
    name: "X-Auth-Token"
    in: "header"
  basicAuth:
    type: "basic"
definitions:
  AnalysisBrapiDTO:
    type: "object"
    properties:
      analysisDbId:
        type: "integer"
        format: "int32"
      analysisName:
        type: "string"
      type:
        type: "string"
      description:
        type: "string"
      software:
        type: "string"
      created:
        type: "string"
        format: "date-time"
  BrApiMetaData:
    type: "object"
    properties:
      pagination:
        $ref: "#/definitions/BrApiPagination"
      datafiles:
        type: "array"
        items:
          type: "object"
  BrApiPagination:
    type: "object"
    properties:
      totalCount:
        type: "integer"
        format: "int32"
      pageSize:
        type: "integer"
        format: "int32"
      totalPages:
        type: "integer"
        format: "int32"
      currentPage:
        type: "integer"
        format: "int32"
      nextPageToken:
        type: "string"
  BrApiResult:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          type: "object"
  BrApiResultDataSetBrapiDTO:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/DataSetBrapiDTO"
  BrapiResponseCalls:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/BrapiResponseCallsItem"
  BrapiResponseCallsItem:
    type: "object"
    properties:
      call:
        type: "string"
      methods:
        type: "array"
        items:
          type: "string"
          enum:
          - "GET"
          - "POST"
          - "PUT"
          - "PATCH"
          - "DELETE"
          - "OPTIONS"
      datatypes:
        type: "array"
        items:
          type: "string"
          enum:
          - "JSON"
          - "TSV"
          - "PNG"
          - "JPG"
          - "FLAPJACK"
  BrapiResponseMapCalls:
    type: "object"
    properties:
      brapiResponseCalls:
        $ref: "#/definitions/BrapiResponseCalls"
  DataSetBrapiDTO:
    type: "object"
    properties:
      variantSetDbId:
        type: "integer"
        format: "int32"
      studyDbId:
        type: "integer"
        format: "int32"
      variantSetName:
        type: "string"
      studyName:
        type: "string"
      analyses:
        type: "array"
        items:
          $ref: "#/definitions/AnalysisBrapiDTO"
  VariantSetListResponse:
    type: "object"
    properties:
      metadata:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/BrApiResultDataSetBrapiDTO"
