{
  "swagger" : "2.0",
  "info" : {
    "description" : "The GDM web service API provides a comprehensive set of RESTful methods for accomplishing the following core tasks in the GOBii Genomic Data Management (GDM) system. This manual explains the GDM calls complying BrAPI Genotyping standards and its definitions..\n\n",
    "version" : "1.0",
    "title" : "GDM BrAPI Web Services",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "cbsugobiixvm11.biohpc.cornell.edu:8081",
  "basePath" : "/gobii-dev",
  "tags" : [ {
    "name" : "ServerInfo"
  } ],
  "schemes" : [ "http" ],
  "paths" : {
    "/brapi/v1/samples" : {
      "get" : {
        "operationId" : "getMaps",
        "parameters" : [ {
          "name" : "sampleDbId",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "observationUnitDbId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "germplasmDbId",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/brapi/v1/serverinfo" : {
      "get" : {
        "tags" : [ "ServerInfo" ],
        "summary" : "Get ServerInfo",
        "description" : "List of all calls",
        "operationId" : "getCalls",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "schema" : {
              "$ref" : "#/definitions/BrapiResponseMapCalls"
            }
          }
        },
        "x-summary" : "ServerInfo"
      }
    }
  },
  "securityDefinitions" : {
    "X-Auth-Token" : {
      "type" : "apiKey",
      "name" : "X-Auth-Token",
      "in" : "header"
    },
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "BrapiResponseCalls" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BrapiResponseCallsItem"
          }
        }
      }
    },
    "BrapiResponseCallsItem" : {
      "type" : "object",
      "properties" : {
        "call" : {
          "type" : "string"
        },
        "methods" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "GET", "POST", "PUT", "PATCH", "DELETE", "OPTIONS" ]
          }
        },
        "datatypes" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "JSON", "TSV", "PNG", "JPG", "FLAPJACK" ]
          }
        }
      }
    },
    "BrapiResponseMapCalls" : {
      "type" : "object",
      "properties" : {
        "brapiResponseCalls" : {
          "$ref" : "#/definitions/BrapiResponseCalls"
        }
      }
    }
  }
}