---
swagger: "2.0"
info:
  description: "The GDM web service API provides a comprehensive set of RESTful methods\
    \ for accomplishing the following core tasks in the GOBii Genomic Data Management\
    \ (GDM) system. This manual explains the GDM calls complying BrAPI Genotyping\
    \ standards and its definitions..\n\n"
  version: "1.0"
  title: "GDM BrAPI"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "cbsugobiixvm11.biohpc.cornell.edu:8081"
basePath: "/gobii-dev/brapi"
tags:
- name: "Callsets"
- name: "Variants"
- name: "VariantSets"
schemes:
- "http"
paths:
  /brapi/v1/callsets:
    get:
      tags:
      - "Callsets"
      summary: "List all callsets"
      description: "List of all Callsets."
      operationId: "getCallSets"
      parameters:
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "callSetDbId"
        in: "query"
        description: "ID of the CallSet to be retrieved."
        required: false
        type: "integer"
        format: "int32"
      - name: "callSetName"
        in: "query"
        description: "The human readable name of the CallSet to be retrieved."
        required: false
        type: "string"
      - name: "variantSetDbId"
        in: "query"
        description: "The ID of the VariantSet to be retrieved."
        required: false
        type: "string"
      - name: "sampleDbId"
        in: "query"
        description: "The ID of the Sample to be retrieved."
        required: false
        type: "string"
      - name: "germplasmDbId"
        in: "query"
        description: "The ID of the Germplasm to be retrieved."
        required: false
        type: "string"
      - name: "studyDbId"
        in: "query"
        description: "The ID of the study to be retrieved."
        required: false
        type: "string"
      - name: "sampleName"
        in: "query"
        description: "The name of the sample to be retrieved."
        required: false
        type: "string"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of CallSets"
          schema:
            $ref: "#/definitions/CallSetListResponse"
      x-summary: "Callsets"
  /brapi/v1/callsets/{callSetDbId}:
    get:
      tags:
      - "Callsets"
      summary: "Get a callset by callsetId"
      description: "Retrieves the Callset entity having the specified ID"
      operationId: "getCallSetsByCallSetDbId"
      parameters:
      - name: "callSetDbId"
        in: "path"
        description: "ID of the Callset to be extracted"
        required: true
        type: "integer"
        pattern: "[\\d]+"
        format: "int32"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of CallSets"
          schema:
            $ref: "#/definitions/CallSetResponse"
      x-summary: "Callsets : callSetDbId"
  /brapi/v1/callsets/{callSetDbId}/calls:
    get:
      tags:
      - "Callsets"
      summary: "List genotype calls"
      description: "List of all the genotype calls in a given Dna run identified by\
        \ Dna run Id"
      operationId: "getCallsByCallset"
      parameters:
      - name: "callSetDbId"
        in: "path"
        description: "Id for dna run to be fetched"
        required: true
        type: "string"
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of Genotype calls"
          schema:
            $ref: "#/definitions/GenotypeCallsResponse"
      x-summary: "GenotypeCalls"
  /brapi/v1/maps:
    get:
      operationId: "getMaps"
      parameters:
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "pageSize"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "type"
        in: "query"
        required: false
        type: "string"
      responses:
        default:
          description: "successful operation"
  /brapi/v1/maps/{mapId}:
    get:
      operationId: "getMaps"
      parameters:
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "pageSize"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "mapId"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /brapi/v1/variants:
    get:
      tags:
      - "Variants"
      summary: "List all variants"
      description: "List of all Variants"
      operationId: "getVariants"
      parameters:
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "variantDbId"
        in: "query"
        description: "ID of the variant to be extracted"
        required: false
        type: "integer"
        format: "int32"
      - name: "variantSetDbId"
        in: "query"
        description: "ID of the variantSet to be extracted"
        required: false
        type: "integer"
        format: "int32"
      - name: "mapSetId"
        in: "query"
        description: "ID of the mapset to be retrieved"
        required: false
        type: "integer"
        format: "int32"
      - name: "mapSetName"
        in: "query"
        description: "Name of the mapset to be retrieved"
        required: false
        type: "string"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of Variants"
          schema:
            $ref: "#/definitions/VariantListResponse"
      x-summary: "Variants"
  /brapi/v1/variants/{variantDbId}:
    get:
      tags:
      - "Variants"
      summary: "Get a variant by variantDbId"
      description: "Retrieves the Variant entity having the specified ID"
      operationId: "getVariantsByVariantDbId"
      parameters:
      - name: "variantDbId"
        in: "path"
        description: "ID of the Variant to be extracted"
        required: true
        type: "integer"
        pattern: "[\\d]+"
        format: "int32"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of Variant by Id"
          schema:
            $ref: "#/definitions/VariantResponse"
      x-summary: "Variants: variantDbId"
  /brapi/v1/variants/{variantDbId}/calls:
    get:
      tags:
      - "Variants"
      summary: "List genotype calls"
      description: "List of all the genotype calls in a given Marker identified by\
        \ Marker Id"
      operationId: "getCallsByVariant"
      parameters:
      - name: "variantDbId"
        in: "path"
        description: "Id for marker to be fetched"
        required: true
        type: "string"
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of Genotype Calls"
          schema:
            $ref: "#/definitions/GenotypeCallsResponse"
      x-summary: "GenotypeCalls"
  /brapi/v1/variantsets:
    get:
      tags:
      - "VariantSets"
      summary: "List all variantsets"
      description: "List of all Variantsets"
      operationId: "getVariantSets"
      parameters:
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "variantSetDbId"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "variantSetName"
        in: "query"
        required: false
        type: "string"
      - name: "studyDbId"
        in: "query"
        required: false
        type: "string"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of VariantSets"
          schema:
            $ref: "#/definitions/VariantSetListResponse"
      x-summary: "VariantSets"
  /brapi/v1/variantsets/extract:
    post:
      tags:
      - "VariantSets"
      summary: "Creates a extract"
      description: "Creates a variant set resource for given extract query"
      operationId: "VariantSetsExtract"
      parameters:
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-summary: "VariantSets"
  /brapi/v1/variantsets/{variantSetDbId}:
    get:
      tags:
      - "VariantSets"
      summary: "Get a variantset by variantSetDbId"
      description: "Retrieves the VariantSet entity having the specified ID"
      operationId: "getVariantSetsByVariantSetDbId"
      parameters:
      - name: "variantSetDbId"
        in: "path"
        description: "ID of the VariantSet to be extracted"
        required: true
        type: "integer"
        pattern: "[\\d]+"
        format: "int32"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of VariantSet By ID"
          schema:
            $ref: "#/definitions/VariantSetResponse"
      x-summary: "VariantSets : variantSetDbId"
  /brapi/v1/variantsets/{variantSetDbId}/calls:
    get:
      tags:
      - "VariantSets"
      summary: "List genotype calls"
      description: "List of all the genotype calls in a given Variantset"
      operationId: "getCallsByVariantSetDbId"
      produces:
      - "application/json"
      parameters:
      - name: "variantSetDbId"
        in: "path"
        description: "ID of the VariantSet of the CallSets to be extracted"
        required: true
        type: "string"
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of Genotype Calls by VariantSetId"
          schema:
            $ref: "#/definitions/GenotypeCallsListResponse"
      x-summary: "GenotypeCalls"
  /brapi/v1/variantsets/{variantSetDbId}/calls/download:
    get:
      tags:
      - "VariantSets"
      summary: "Download genotype calls"
      description: "Download of all the genotype calls in a given Variantset"
      operationId: "handleRbe"
      produces:
      - "text/csv"
      parameters:
      - name: "variantSetDbId"
        in: "path"
        required: true
        type: "integer"
        pattern: "[\\d]+"
        format: "int32"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResponseBodyEmitter"
      x-summary: "GenotypeCalls"
  /brapi/v1/variantsets/{variantSetDbId}/callsets:
    get:
      tags:
      - "VariantSets"
      summary: "List all Callsets for a given VariantSetDbId"
      description: "List of all the CallSets in a specific VariantSet"
      operationId: "getCallSetsByVariantSetDbId"
      parameters:
      - name: "variantSetDbId"
        in: "path"
        description: "ID of the VariantSet of the CallSets to be extracted"
        required: true
        type: "integer"
        pattern: "[\\d]+"
        format: "int32"
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of CallSets by VariantSetId"
          schema:
            $ref: "#/definitions/CallSetListResponse"
      x-summary: "Callsets"
  /brapi/v1/variantsets/{variantSetDbId}/variants:
    get:
      tags:
      - "VariantSets"
      summary: "List all Variants for a given VariantSetDbId"
      description: "List of all the Variants in a specific VariantSet"
      operationId: "getVariantsByVariantSetDbId"
      parameters:
      - name: "variantSetDbId"
        in: "path"
        description: "ID of the VariantSet of the Variants to be extracted"
        required: true
        type: "integer"
        pattern: "[\\d]+"
        format: "int32"
      - name: "pageToken"
        in: "query"
        description: "Page Token to fetch a page. nextPageToken form previous page's\
          \ meta data should be used.If pageNumber is specified pageToken will be\
          \ ignored. pageToken can be used to sequentially get pages faster. When\
          \ an invalid pageToken is given the page will start from beginning."
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Size of the page to be fetched. Default is 1000. Maximum page\
          \ size is 1000"
        required: false
        type: "integer"
        format: "int32"
      - name: "mapSetId"
        in: "query"
        description: "ID of the mapset to be retrieved"
        required: false
        type: "integer"
        format: "int32"
      - name: "mapSetName"
        in: "query"
        description: "Name of the mapset to be retrieved"
        required: false
        type: "string"
      - name: "X-Auth-Token"
        in: "header"
        description: "Authentication Token"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful retrieval of Variants by VariantSetId"
          schema:
            $ref: "#/definitions/VariantListResponse"
      x-summary: "Variants"
securityDefinitions:
  X-Auth-Token:
    type: "apiKey"
    name: "X-Auth-Token"
    in: "header"
  basicAuth:
    type: "basic"
definitions:
  AnalysisBrapiDTO:
    type: "object"
    properties:
      createdDate:
        type: "string"
        format: "date-time"
      analysisDbId:
        type: "integer"
        format: "int32"
      analysisName:
        type: "string"
      type:
        type: "string"
      description:
        type: "string"
      software:
        type: "string"
  BrApiMetaData:
    type: "object"
    properties:
      pagination:
        $ref: "#/definitions/BrApiPagination"
      datafiles:
        type: "array"
        items:
          type: "object"
  BrApiPagination:
    type: "object"
    properties:
      totalCount:
        type: "integer"
        format: "int32"
      pageSize:
        type: "integer"
        format: "int32"
      totalPages:
        type: "integer"
        format: "int32"
      currentPage:
        type: "integer"
        format: "int32"
      nextPageToken:
        type: "string"
  BrApiResult:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          type: "object"
  BrApiResultDataSetBrapiDTO:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/DataSetBrapiDTO"
  BrApiResultDnaRunDTO:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/DnaRunDTO"
  BrApiResultGenotypeCallsDTO:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/GenotypeCallsDTO"
  BrApiResultMarkerBrapiDTO:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/MarkerBrapiDTO"
  CallSetListResponse:
    type: "object"
    properties:
      metaData:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/BrApiResultDnaRunDTO"
  CallSetResponse:
    type: "object"
    properties:
      metaData:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/DnaRunDTO"
  DataSetBrapiDTO:
    type: "object"
    properties:
      variantSetDbId:
        type: "integer"
        format: "int32"
      studyDbId:
        type: "integer"
        format: "int32"
      variantSetName:
        type: "string"
      studyName:
        type: "string"
      analyses:
        type: "array"
        items:
          $ref: "#/definitions/AnalysisBrapiDTO"
  DnaRunDTO:
    type: "object"
    properties:
      callSetDbId:
        type: "integer"
        format: "int32"
      studyDbId:
        type: "integer"
        format: "int32"
      sampleDbId:
        type: "integer"
        format: "int32"
      callSetName:
        type: "string"
      dnaRunCode:
        type: "string"
      variantSetIds:
        type: "array"
        items:
          type: "integer"
          format: "int32"
      germplasmDbId:
        type: "integer"
        format: "int32"
      germplasmName:
        type: "string"
      germplasmExternalCode:
        type: "string"
      germplasmType:
        type: "string"
      species:
        type: "string"
      sampleName:
        type: "string"
      sampleNum:
        type: "string"
      wellRow:
        type: "string"
      wellCol:
        type: "string"
      additionalInfo:
        type: "object"
        additionalProperties:
          type: "string"
  GenotypeCallsDTO:
    type: "object"
    properties:
      variantSetDbId:
        type: "integer"
        format: "int32"
      callSetDbId:
        type: "integer"
        format: "int32"
      callSetName:
        type: "string"
      variantDbId:
        type: "integer"
        format: "int32"
      variantName:
        type: "string"
      genotype:
        type: "object"
        additionalProperties:
          type: "string"
      genotypeLiklihood:
        type: "string"
      phaseSet:
        type: "string"
      hdf5MarkerIdx:
        type: "string"
      hdf5SampleIdx:
        type: "string"
  GenotypeCallsListResponse:
    type: "object"
    properties:
      metaData:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/BrApiResultGenotypeCallsDTO"
  GenotypeCallsResponse:
    type: "object"
    properties:
      metaData:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/GenotypeCallsDTO"
  MarkerBrapiDTO:
    type: "object"
    properties:
      variantDbId:
        type: "integer"
        format: "int32"
      variantName:
        type: "string"
      variantType:
        type: "string"
      referenceName:
        type: "string"
      platformName:
        type: "string"
      linkageGroupName:
        type: "string"
      start:
        type: "number"
      stop:
        type: "number"
      mapSetName:
        type: "string"
      mapSetId:
        type: "integer"
        format: "int32"
      variantSetDbId:
        type: "array"
        items:
          type: "integer"
          format: "int32"
  ResponseBodyEmitter:
    type: "object"
    properties:
      timeout:
        type: "integer"
        format: "int64"
  VariantListResponse:
    type: "object"
    properties:
      metaData:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/BrApiResultMarkerBrapiDTO"
  VariantResponse:
    type: "object"
    properties:
      metaData:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/MarkerBrapiDTO"
  VariantSetListResponse:
    type: "object"
    properties:
      metaData:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/BrApiResultDataSetBrapiDTO"
  VariantSetResponse:
    type: "object"
    properties:
      metaData:
        $ref: "#/definitions/BrApiMetaData"
      result:
        $ref: "#/definitions/DataSetBrapiDTO"
