{
  "swagger" : "2.0",
  "info" : {
    "description" : "The GDM web service API provides a comprehensive set of RESTful methods for accomplishing the following core tasks in the GOBii Genomic Data Management (GDM) system. This manual explains the GDM web architecture and its web service operations.\n\n",
    "version" : "1.0",
    "title" : "GDM Sample Tracking",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "cbsugobiixvm11.biohpc.cornell.edu:8081",
  "basePath" : "/gobii-dev",
  "tags" : [ {
    "name" : "Dataset"
  }, {
    "name" : "Experiments"
  }, {
    "name" : "Projects"
  }, {
    "name" : "Samples"
  } ],
  "schemes" : [ "http" ],
  "paths" : {
    "/sample-tracking/v1/dataset" : {
      "post" : {
        "tags" : [ "Dataset" ],
        "summary" : "Create new dataset",
        "description" : "Creates a new dataset in the system.",
        "operationId" : "createDataset",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DataSetDTO"
          }
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-summary" : "Dataset"
      }
    },
    "/sample-tracking/v1/dataset/{datasetId}/data" : {
      "post" : {
        "tags" : [ "Dataset" ],
        "summary" : "Upload data to dataset",
        "description" : "Upload data to the dataset.",
        "operationId" : "uploadDatasetData",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "datasetMetaData",
          "in" : "formData",
          "description" : "Metadata associated with data",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "genotypeFile",
          "in" : "formData",
          "description" : "The file to be uploaded",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-summary" : "Upload Data"
      }
    },
    "/sample-tracking/v1/experiments" : {
      "get" : {
        "tags" : [ "Experiments" ],
        "summary" : "List all experiments",
        "description" : "List of all Experiments.",
        "operationId" : "listExperiment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "pageToken",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "pageNum",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ExperimentDTO"
            }
          }
        },
        "x-summary" : "Experiments"
      },
      "post" : {
        "tags" : [ "Experiments" ],
        "summary" : "Create new experiment",
        "description" : "Creates new experiment in the system.",
        "operationId" : "createExperiment",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "experimentMetaData",
          "in" : "formData",
          "description" : "The file to be uploaded",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dataFile",
          "in" : "formData",
          "description" : "The file to be uploaded",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-summary" : "Experiments"
      }
    },
    "/sample-tracking/v1/experiments/{experimentId}" : {
      "get" : {
        "tags" : [ "Experiments" ],
        "summary" : "Get an experiment by experimentId",
        "description" : "Retrieves the Experiment entity having the specified ID.",
        "operationId" : "getExperimentById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "experimentId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "pattern" : "[\\d]+",
          "format" : "int32"
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-summary" : "Experiment : experimentId"
      }
    },
    "/sample-tracking/v1/projects" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "List all projects",
        "description" : "List of all Projects.",
        "operationId" : "listProjects",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "pageToken",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "pageNum",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ProjectDTO"
            }
          }
        },
        "x-summary" : "Projects"
      },
      "post" : {
        "tags" : [ "Projects" ],
        "summary" : "Create new project",
        "description" : "Creates a new project in the system.",
        "operationId" : "createProject",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProjectDTO"
          }
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-summary" : "Projects"
      }
    },
    "/sample-tracking/v1/projects/{projectId}" : {
      "get" : {
        "tags" : [ "Projects" ],
        "summary" : "Get a project by projectId",
        "description" : "Retrieves the Project entity having the specified ID.",
        "operationId" : "getProjectById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "description" : "ID of the Project to be extracted",
          "required" : true,
          "type" : "integer",
          "pattern" : "[\\d]+",
          "format" : "int32"
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-summary" : "Projects : projectId"
      }
    },
    "/sample-tracking/v1/samples" : {
      "post" : {
        "tags" : [ "Samples" ],
        "summary" : "Create new samples",
        "description" : "Creates a new samples in the system.",
        "operationId" : "createSamples",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ProjectSamplesDTO"
          }
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-summary" : "Samples"
      }
    },
    "/sample-tracking/v1/samples/upload" : {
      "post" : {
        "tags" : [ "Samples" ],
        "summary" : "Upload new samples",
        "description" : "Creates a new samples in the system.",
        "operationId" : "uploadSamples",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "sampleMetaData",
          "in" : "formData",
          "description" : "The file to be uploaded",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sampleFile",
          "in" : "formData",
          "description" : "The file to be uploaded",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "X-Auth-Token",
          "in" : "header",
          "description" : "Authentication Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-summary" : "Upload Samples"
      }
    }
  },
  "securityDefinitions" : {
    "X-Auth-Token" : {
      "type" : "apiKey",
      "name" : "X-Auth-Token",
      "in" : "header"
    },
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "DataSetDTO" : {
      "type" : "object",
      "properties" : {
        "datasetId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "datasetName" : {
          "type" : "string"
        },
        "datatypeName" : {
          "type" : "string"
        },
        "experimentId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "createdBy" : {
          "type" : "integer",
          "format" : "int32"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "modifiedBy" : {
          "type" : "integer",
          "format" : "int32"
        },
        "modifiedDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "analysisIds" : {
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "callingAnalysisName" : {
          "type" : "string"
        }
      }
    },
    "DnaSampleDTO" : {
      "type" : "object",
      "properties" : {
        "createdBy" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "readOnly" : true
        },
        "modifiedBy" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "modifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "readOnly" : true
        },
        "projectId" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "sampleUuid" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "plateName" : {
          "type" : "string"
        },
        "num" : {
          "type" : "string"
        },
        "wellRow" : {
          "type" : "string"
        },
        "wellCol" : {
          "type" : "string"
        },
        "germplasm" : {
          "$ref" : "#/definitions/GermplasmDTO"
        },
        "properties" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        }
      }
    },
    "ExperimentDTO" : {
      "type" : "object",
      "properties" : {
        "createdBy" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "readOnly" : true
        },
        "modifiedBy" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "modifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "readOnly" : true
        },
        "name" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "projectId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "vendorProtocolId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "manifestId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "status" : {
          "type" : "integer",
          "format" : "int32"
        },
        "dataFileUrl" : {
          "type" : "string"
        },
        "experimentId" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "GermplasmDTO" : {
      "type" : "object",
      "properties" : {
        "createdBy" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "readOnly" : true
        },
        "modifiedBy" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "modifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "readOnly" : true
        },
        "name" : {
          "type" : "string"
        },
        "externalCode" : {
          "type" : "string"
        },
        "speciesName" : {
          "type" : "string"
        },
        "typeName" : {
          "type" : "string"
        },
        "germplasmId" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "ProjectDTO" : {
      "type" : "object",
      "properties" : {
        "createdBy" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "readOnly" : true
        },
        "modifiedBy" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "modifiedDate" : {
          "type" : "string",
          "format" : "date-time",
          "readOnly" : true
        },
        "projectId" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "piContactId" : {
          "type" : "integer",
          "format" : "int32"
        },
        "projectName" : {
          "type" : "string"
        },
        "projectStatus" : {
          "type" : "integer",
          "format" : "int32"
        },
        "projectCode" : {
          "type" : "string"
        },
        "projectDescription" : {
          "type" : "string"
        },
        "properties" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      }
    },
    "ProjectSamplesDTO" : {
      "type" : "object",
      "properties" : {
        "projectId" : {
          "type" : "integer",
          "format" : "int32",
          "readOnly" : true
        },
        "samples" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DnaSampleDTO"
          }
        }
      }
    }
  }
}