.criteria-tree {
    height: 40%;
    width: 2000px;
    margin: 0;
    overflow: auto;
    padding: .25em;
    white-space: nowrap;
}

div.ui-datatable-scrollable-body {
    overflow-y: scroll;
}

.nameIdListBox{
    width: 100%;
    overflow: hidden;
    max-width: 300px !important;
    min-width: 100px !important;
}

.tableTooltip {
    max-width: 500px !important;
}

td{
    width: 300px !important;
}

button {
    min-height: 18px;
    min-width: 18px;
    cursor: hand;
    padding:0px;
}

i{
    min-height: 16px !important;
    min-width: 16px !important;
}